html {
  font-family: 'Josefin-Sans', sans-serif;
  font-size: 16px;
}

.menu {

}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  text-decoration: none;
}
a {
  color: black;
  text-decoration: none;

}

a:visited {
  color: black;
  text-decoration: none;
}

.no-underline {
  text-decoration: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
 color: grey;
}


@media only screen and (max-width: 871px) {
#navmain a {
  display: none;
}

}

.banner {
  background-color: white;
  height: 15rem;
  padding-bottom: 4rem;
  border-top: 1rem solid white;
}

.banner img {
  display: block;
  margin: 0 auto;
  padding-top: 3rem;
}

#writing, #editing {
  font-family: 'Josefin Sans', sans-serif;

}

.banner h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 800px;
  color: black;
  font-size: 3.5rem;
  text-align: center;
  width: 100%;
  padding: 1rem;
  }


.banner p {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  text-align: center;
  color: black;
  padding: 1rem;

}

.centered {
  text-align:center;
}

@media only screen and (max-width: 558px) {
.banner h1 {
  font-size: 2.5;
}

  .banner p {
    font-size: 1.5rem;
    padding: 1rem 1rem 0rem 1rem;

  }

  .banner img {
    padding-top: 4rem;
  }
}

@media only screen and (max-width: 425px) {
.banner {
  height: 37rem;
}

.pages {
  padding-top: 40rem;
}

}

.background-writing {
  background-image: url("../images/slide-skye.jpg");
}

.background-editing {
  background-image: url("../images/slide-dalton.jpg");
}

.background-design {
  background-image: url("../images/slide-gtm.jpg");
}

.background-design2 {
  background-image: url("../images/slide-cinderella.jpg");
}

.background-betoota {
  background-image: url("../images/slide-betoota.jpg");
}

.background-socceroos {
  background-image: url("../images/slide-socceroos.jpg");
}

.background-reboots {
  background-image: url("../images/slide-reboots.jpg");
}

.background-streaming {
  background-image: url("../images/slide-streaming.jpg");
}

.background-bodyart {
  background-image: url("../images/slide-bodyart.jpg");
}

.background-portraitgallery {
  background-image: url("../images/slide-portraitgallery.jpg");
}

.background-whales {
  background-image: url("../images/slide-whales.jpg");
}

.background-gocowboys {
  background-image: url("../images/slide-gocowboys.jpg");
}

.background-inpics {
  background-image: url("../images/slide-inpics.jpg");
}

.background-regional {
  background-image: url("../images/slide-regional.jpg");
}

.background-gamechange {
  background-image: url("../images/slide-gamechange.jpg");
}

.background-firebaby {
  background-image: url("../images/slide-firebaby.jpg");
}

.background-refugees1 {
  background-image: url("../images/slide-refugees1.jpg");
}
.background-books {
  background-image: url("../images/slide-books.jpg");
}

.background-gotime {
  background-image: url("../images/slide-gotime.jpg");
}

.background-angusferne {
  background-image: url("../images/slide-angusferne.jpg");
}

@media only screen and (max-width: 755px) {

}



.images {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
}



.pages {
  display: flex;
  margin: 0 auto;
  flex: 1 1;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 9rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  padding-top: 2rem;
}

.vertical {
  flex-wrap: wrap;
  max-width: 50%;
  max-height: 50%;
  align-items: center;
}

h3 {
  font-family: 'Josefin-Sans', sans-serif;
  font-weight: 150;
  font-size: 2rem;
  letter-spacing: -0.1rem;
  margin-top: 2rem;
}

#editing {
  margin-top: 5rem;
  text-align: center;
}


.pages h3:hover {
  color: black;
}

.pages h3:active {
  color: black;
}

.pages h3:visited {
  color: black;
}

a:visited {
  text-decoration: none; color:black; }
a:hover {
  text-decoration: none; color:blacj; }
a:focus {
  text-decoration: none; color:black; }
a:hover, a:active
{ text-decoration: none; color:black; }


footer {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  text-align: left;
  color: black;
  background-color: white;
  height: 5rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  padding: 2rem 0rem 3rem 1rem;
 margin-top: 2rem;
  border-bottom: 0.5rem solid black;

}



  @media only screen and (max-width: 404px) {


  }

  @media only screen and (max-width: 680px) {



    }


    @media only screen and (max-width: 670px) {


    }
